@import "src/assets/scss/abstracts/breakpoints";

.harmonize {
  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    position: relative;
      flex-direction: column;

    iframe {
      @include md {
        width: 80vw;
        height: calc(80vw /1.7) ;
      }


    }

    &__description {
      width: 560px;
      @include md {
        width: 80vw;
      }

    }
  }
}
