@import "src/assets/scss/abstracts/breakpoints";

.projects {
  padding-top: 6rem;
  text-align: start;
  width: 75%;
  margin: 5rem 12.5% ;
  display: flex;
  flex-direction: column;

  @include lg {
    width: 80%;
    margin: 5rem 10% ;
  }

  &__current {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("~@/assets/images/bg-light.png");
    background-size: cover;
    background-position: center center;
    z-index: 100;

    &__logo {
      img {
        width: 10vw;
        position: absolute;
        right: 1rem;
        top: 1rem;

        @include md {
          width: 17vw;
        }

        @include sm {
          width: 20vw;
        }

      }
    }

    &__back {
      position: absolute;
      left : 2rem;
      top: 0;
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      border-radius: 10px;
      transition: 0.5s;


      @include md {
        left: -1rem;
        top: -3rem;
        width: 2.3rem;
        height: 2.3rem;
      }

      &:hover > button {
        color: white;
      }


      button {
        color: white;
        font-size: 4rem;
        transform: rotate(45deg);
        border: none;
        background: none;
        cursor: pointer;
        @include md {
          font-size: 3rem;
          left: 11px;
          bottom: 6px;
        }
      }


      @include md {
        font-size: 8rem;
        left : 5rem
      }

      @include sm {
        font-size: 6rem;
        left: 3rem;
      }

    }



    &--hide {
      transform: translateX(100vw);
    }
  }

  &__title{
    font-size: 3rem ;
    font-weight: bold;
    @include xl {
      font-size: 2.2rem;
    }

  }

  &__all {
    display: flex;
    margin-top: 3rem;
    gap: 1rem;
    transition: 1s;
    @include md {
      gap: 10px;
    }

    &__preview {
      img {
        width: 10rem;
        border-radius: 1rem;
        transition: 0.4s;
        cursor: pointer;
        position: relative;
        bottom: 0;
        left: 0;
        z-index: 1;

        &:hover {
          bottom: 10%;
          box-shadow: 0 0 40px #9524ff;

        }


        @include xl {
          width: 8rem;
          border-radius: 0.7rem;
        }

        @include lg {
          width: 4.5rem;
          border-radius: 0.5rem;
        }

      }
    }
  }

}

