@import "src/assets/scss/abstracts/breakpoints";

.snikrz {
  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 800px;
      @include xl {
        width: 650px;
      }
      @include lg {
        width: 550px;
      }
      @include md {
        width: 280px;
      }
    }
    &__description {
      width: 800px;
      position: relative;
      top: 2rem;
      @include xl {
        width: 650px;
      }
      @include lg {
        width: 550px;
      }
      @include md {
        width: 280px;
      }
    }
  }
}
