@import "src/assets/scss/abstracts/breakpoints";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 6rem;
  margin: 0 auto;
  @include xl {
    width: 90%;

  }
  @include lg {
    width: 95%;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    @include xl {
      font-size: 1.5rem;
    }
  }

  ul {
    display: flex;
    gap: 1.5rem;

    a{
      font-weight: bold;
      font-size: 1.2rem;
      transition: 0.3s;
      @include xl {
        font-size: 1rem;
      }

      &:hover {
        color: #24e5f1;
      }
    }
  }
}
